
// *****COLORS*****

// PRIMARY
$BrightBlue: #3a7bfd;
$CheckBackground: linear-gradient(-45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

// LIGHT THEME
$VeryLightGray_light: #fafafa;
$VeryLightGrayishBlue_light: hsl(236, 33%, 92%);
$LightGrayishBlue_light: hsl(233, 11%, 84%);
$DarkGrayishBlue_light: hsl(236, 9%, 61%);
$VeryDarkGrayishBlue_light: hsl(235, 19%, 35%);

// DARK THEME
$VeryDarkBlue: hsl(235, 21%, 11%);
$VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$LightGrayishBlue: hsl(234, 39%, 85%);
$LightGrayishBlue: #e4e5f1;
$DarkGrayishBlue: hsl(234, 11%, 52%);
$VeryDarkGrayishBlue: #4d5066;


// ****MISC****

$font-s: 18px;